.catalogue {
    margin-bottom: 136px;
    position: relative;
    @media (max-width: $md2) {
        margin-bottom: 100px;
    }
    &__headline {
        position: absolute;
        top: 105px;
        left: -104px;
        overflow: auto;
        transform: rotate(-90deg);
        padding: 36px 0;
        @media (max-width: $md2) {
            padding: 16px 0;
            top: 90px;
            left: -90px;
        }
        @media (max-width: $md4) {
            padding: 9px 0;
            left: -82px;
            top: 82px;
        }
        span {
            text-transform: uppercase;
            font-size: 40px;
            line-height: 48/40 * 100%;
            font-weight: 300;
            @media (max-width: $md2) {
                font-size: 30px;
                line-height: 36/30 * 100%;
            }
            @media (max-width: $md4) {
                font-size: 26px;
                line-height: 32/26 * 100%;
            }
        }
    }

    &__container {
        max-width: calc(100% - 124px);
        margin-left: 124px;
        padding: 0;
        @media (max-width: $md2) {
            max-width: calc(100% - 68px);
            margin-left: 68px;
        }
        @media (max-width: $md4) {
            margin-left: 52px;
            max-width: calc(100% - 52px);
        }
    }
}
.cards-catalogue {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        min-height: 360px;
        height: 368px;
        padding: 64px 84px;
        transition: ease 0.4s;
        @media (max-width: $md2) {
            padding: 46px 43px;
            height: 276px;
            min-height: 270px;
        }
    }
}
.item-catalogue {
    &_card1 {
        background-color: #a3e07e;
    }
    &_card2 {
        background-color: #fded84;
    }
    &_card3 {
        background-color: #ff9cca;
    }
    &_card4 {
        background-color: #fdb96b;
    }

    &__descript {
        max-width: 570px;
        @media (max-width: $md2) {
            max-width: 470px;
        }
        @media (max-width: $md4) {
            max-width: 330px;
        }
    }

    &__img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-25%);
        @media (max-width: $md2) {
            width: 404px;
        }
        @media (max-width: $md3) {
            width: 339px;
            transform: translateX(-5%);
        }
        @media (max-width: $md4) {
            width: 321px;
            transform: translateX(-30%);
        }
    }

    &__link {
        margin-right: 100px;
        @media (max-width: $md3) {
            margin-right: 0;
        }
    }

    &__btn {
        width: 164px;
        height: 60px;
        background-color: transparent;
        border: 1px solid $colourFont;
        border-radius: 3px;
        @media (max-width: $md2) {
            width: 136px;
            height: 46px;
        }
        span {
            color: $colourFont;
            font-size: 16px;
            line-height: 24/16 * 100%;
            font-weight: 500;
            text-transform: uppercase;
            @media (max-width: $md2) {
                font-size: 14px;
                line-height: 18/14 * 100%;
            }
        }
    }
}
.descript-catalogue {
    &__img {
        @media (max-width: $md2) {
            width: 62px;
            height: 62px;
        }
    }
    &__title {
        margin: 24px 0;
        font-size: 48px;
        line-height: 100%;
        font-weight: 700;
        @media (max-width: $md2) {
            font-size: 36px;
            margin: 18px 0;
        }
        @media (max-width: $md4) {
            font-size: 30px;
            line-height: 36/30 * 100%;
        }
    }

    &__text {
        font-size: 22px;
        line-height: 30/22 * 100%;
        font-weight: 300;
        @media (max-width: $md2) {
            font-size: 18px;
            line-height: 24/18 * 100%;
        }
        @media (max-width: $md4) {
            font-size: 17px;
            line-height: 24/17 * 100%;
        }
    }
}

.item-catalogue_card1:hover {
    background-color: #71bd44;
    .item-catalogue__btn {
        background-color: $colourFont;
        span {
            color: #fff;
        }
    }
}
.item-catalogue_card2:hover {
    background-color: #ffdd00;
    .item-catalogue__btn {
        background-color: $colourFont;
        span {
            color: #fff;
        }
    }
}
.item-catalogue_card3:hover {
    background-color: #f669b8;
    .item-catalogue__btn {
        background-color: $colourFont;
        span {
            color: #fff;
        }
    }
}
.item-catalogue_card4:hover {
    background-color: #f9931f;
    .item-catalogue__btn {
        background-color: $colourFont;
        span {
            color: #fff;
        }
    }
}
