@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        src: url('../fonts/#{$file_name}.woff') format('woff'),
            url('../fonts/#{$file_name}.woff2') format('woff2');
        font-weight: $weight;
        font-style: $style;
    }
}

@include font('Medium', 'PH Handbook Pro Medium', '400', 'normal');
@include font('Light', 'PH Handbook Pro Light', '300', 'normal');
@include font('Bold', 'PH Handbook Pro Bold', '700', 'normal');
@include font('Thin', 'PH Handbook Pro Thin', '100', 'normal');

// don't forget to restart, if another font has been put
