.footer {
    background-color: #565658;
    color: #fff;
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 115px 0;
    }

    &__subscribe {
    }
    &__offer {
        max-width: 430px;
        font-size: 19px;
        line-height: 24/19 * 100%;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.75);
        margin-bottom: 25px;
    }
    &__subscribe input[type='email'] {
        width: 421px;
        height: 60px;
        background-color: transparent;
        padding-left: 14px;
        color: $colourFont;
        text-transform: uppercase;
        @include response-font(16, 10);
        line-height: 24/16 * 100%;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
    }
    &__subscribe input[type='submit'] {
        width: 172px;
        height: 60px;
        background-color: #9b9b9c;
        color: #fff;
        font-family: $secondFont;
        @include response-font(18, 12);
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: 1.4px;
    }

    &__links {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 735px;
        width: 100%;
    }
}

.links-footer {
    li {
        margin-bottom: 20px;
    }
    &__link {
        font-size: 16px;
        line-height: 19/16 * 100%;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.links-footer__three {
    li {
        margin-bottom: 4px;
    }
    .links-footer__link {
        text-transform: capitalize;
        font-size: 16px;
        line-height: 24/16 * 100%;
        font-weight: 300;
    }
    .links-footer__link_title {
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.footer__rights {
    border-top: 1px solid $colourFont;
    margin-top: 40px;
}

.rights__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.rights {
    &__links a {
        margin: 0 20px;
        font-family: $secondFont;
        @include response-font(15, 9);
    }
}
