.header {
    height: 120px;
    max-height: 100%;
    padding: 41px 0;
    transition: ease 0.4s;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.82);
    @media (max-width: $md2) {
        padding: 30px 0;
        height: 90px;
    }
    @media (max-width: $md4) {
        display: flex;
        align-items: center;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        @media (max-width: $md2) {
            height: 41px;
        }
    }

    &_fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 120px;
        background-color: rgba(255, 255, 255, 0.82);
    }

    &__aux {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 285px;
        @media (max-width: $md2) {
            min-width: 250px;
        }
        @media (max-width: $md3) {
            min-width: 180px;
        }
    }
}
.nav {
    &__list {
        width: 810px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $md2) {
            width: 658px;
        }
        @media (max-width: $md4) {
            display: none;
        }
    }

    &__link {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 32/18 * 100%;
        font-family: $secondFont;
        @media (max-width: $md2) {
            font-size: 17px;
            line-height: 24/17 * 100%;
        }
    }
}
.aux {
    &__item {
        transition: ease 0.4s;
    }

    &__link {
        font-size: 24px;
        line-height: 32/24 * 100%;
        font-family: $secondFont;
        @media (max-width: $md2) {
            font-size: 20px;
            line-height: 24/20 * 100%;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}

// main search
.index-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    max-width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0 5px;
    z-index: 100;
    &__label {
        font-size: 18px;
        line-height: 32/18 * 100%;
        font-weight: 300;
        max-width: 130px;
        width: 100%;
        text-transform: uppercase;
        @media (max-width: $md3) {
            font-size: 14px;
            line-height: 122%;
        }
    }
    &__input {
        margin: 0 24px 0 40px;
        height: 60px;
        width: 1074px;
        border-bottom: 1px solid #565658;
        padding: 0 10px;
        font-size: 28px;
        line-height: 36/28 * 100%;
        font-weight: 300;
        background-color: #fff;
        @media (max-width: $md2) {
            margin: 0 20px;
            height: 46px;
            width: 60%;
        }
        @media (max-width: $md3) {
            font-size: 18px;
            line-height: 22/18 * 100%;
        }
    }
    &__btn {
        width: 125px;
        height: 60px;
        background-color: $btnBgColour;
        color: $btnColour;
        font-size: 16px;
        line-height: 24/16 * 100%;
        font-weight: 500;
        text-transform: uppercase;
        @media (max-width: $md2) {
            height: 46px;
        }
    }
}

.close-btn {
    margin-left: 135px;
    background-color: transparent;
    z-index: 100;
    &::before {
        content: '';
        display: inline-block;
        background-color: #333;
        height: 1px;
        width: 32px;
        transform: rotate(45deg);
        @media (max-width: $md3) {
            width: 24px;
        }
    }
    &::after {
        content: '';
        display: inline-block;
        background-color: #333;
        height: 1px;
        width: 32px;
        transform: rotate(-45deg);
        left: -32px;
        @media (max-width: $md3) {
            width: 24px;
            left: -24px;
        }
    }
    @media (max-width: $md4) {
        margin-left: 50px;
    }
}
