.hero {
    min-height: 600px;
    position: relative;
    // margin-top: 200px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000000;
    }

    &__container {
        margin: 0 auto;
        padding: 0;
        max-width: $indexSliderWidth;
        height: 764px;
        position: relative;
        // border: 1px solid $colourFont;
        @media (max-width: $indexSliderWidth) {
            width: 100%;
        }
    }

    &__content {
        position: relative;
        height: 764px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.content-hero {
    &__descript {
        margin-left: 190px;
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-height: 100%;
        max-width: 100%;
    }
}
.context-hero {
    &__title {
        font-family: $forthFont;
        font-size: 72px;
        line-height: 70/72 * 100%;
        font-weight: 100;
        max-width: 780px;
        width: 590px;
        margin-bottom: 42px;
    }

    &__text {
        @include response-font(28, 16);
        line-height: 36/28 * 100%;
        font-family: $secondFont;
        font-weight: 300;
        max-width: 585px;
        min-height: 72px;
        overflow: auto;
        max-height: 190px;
        margin-bottom: 42px;
    }

    &__btn {
        width: 186px;
        height: 60px;
        border-radius: 3px;
        span {
            text-transform: uppercase;
            font-size: 16px;
            line-height: 24/16 * 100%;
            font-weight: 500;
        }
    }
}

.swiper-wrapper {
    height: 764px;
}
.parallax-bg {
    // height: 764px;
    background-image: url(../img/hero/bg.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 170%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 150px;
    width: 204px;
    height: 60px;
    margin-left: 190px;
}
.hero-swiper__bullets span {
    width: 60px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    line-height: 32px;
    font-size: 18px;
    transition: 0.5s;
}
.swiper-pagination-bullet {
    color: $colourFont;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    color: #fff;
    background-color: #50daf5;
    border-radius: 13px;
    transform: scale(1.25);
    clip-path: polygon(
        33% 9%,
        86% 41%,
        91% 49%,
        88% 57%,
        34% 91%,
        23% 91%,
        16% 86%,
        16% 14%,
        24% 9%
    );
}
