.hero {
    min-height: 600px;
    position: relative;
    // margin-top: 200px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000000;
    }

    &__container {
        margin: 0 auto;
        padding: 0;
        max-width: $indexSliderWidth;
        height: 764px;
        position: relative;
        // border: 1px solid $colourFont;
        @media (max-width: $indexSliderWidth) {
            width: 100%;
        }
        @media (max-width: $md2) {
            max-width: 1440px;
            height: 572px;
        }
    }

    &__content {
        position: relative;
        height: 764px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $md2) {
            height: 572px;
        }
    }
}

.content-hero {
    &__descript {
        margin-left: 190px;
        @media (max-width: $md2) {
            margin-left: 99px;
        }
        @media (max-width: $md3) {
            margin-left: 20px;
        }
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-height: 100%;
        max-width: 100%;
        @media (max-width: $md2) {
            width: 737px;
        }
        @media (max-width: $md3) {
            width: 709px;
        }
    }
}
.context-hero {
    &__title {
        font-family: $forthFont;
        font-size: 72px;
        line-height: 70/72 * 100%;
        font-weight: 100;
        max-width: 780px;
        width: 590px;
        margin-bottom: 42px;
        @media (max-width: $md2) {
            max-width: 417px;
            width: 100%;
            font-size: 54px;
            line-height: 100%;
            margin-bottom: 31px;
        }
    }

    &__text {
        @include response-font(28, 16);
        line-height: 36/28 * 100%;
        font-family: $secondFont;
        font-weight: 300;
        max-width: 585px;
        min-height: 72px;
        overflow: auto;
        max-height: 190px;
        margin-bottom: 42px;
        @media (max-width: $md2) {
            max-width: 417px;
            width: 100%;
            font-size: 18px;
            line-height: 24/18 * 100%;
            margin-bottom: 31px;
        }
    }

    &__btn {
        width: 186px;
        height: 60px;
        border-radius: 3px;
        @media (max-width: $md2) {
            width: 155px;
            height: 46px;
        }
        span {
            text-transform: uppercase;
            font-size: 16px;
            line-height: 24/16 * 100%;
            font-weight: 500;
            @media (max-width: $md2) {
                font-size: 14px;
                line-height: 18/14 * 100%;
            }
        }
    }
}

.swiper-wrapper-hero {
    height: 764px;
}
.swiper-container {
    height: inherit;
}
.parallax-bg {
    // height: 764px;
    background-image: url(../img/hero/bg.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 150px;
    width: 204px;
    height: 60px;
    margin-left: 190px;
}
.hero-swiper__bullets span {
    width: 60px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    line-height: 32px;
    font-size: 18px;
    transition: 0.5s;
}
.swiper-pagination-bullet {
    color: $colourFont;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    color: #fff;
    background-image: url(../img/hero/page.png);
    // background-color: #50daf5;
    // border-radius: 13px;
    transform: scale(1.05);
    // clip-path: polygon(
    //     33% 9%,
    //     86% 41%,
    //     91% 49%,
    //     88% 57%,
    //     34% 91%,
    //     23% 91%,
    //     16% 86%,
    //     16% 14%,
    //     24% 9%
    // );
}

.msg-btn {
    position: fixed;
    left: 100vw;
    top: 50%;
    width: 188px;
    height: 48px;
    transform: rotate(-90deg) translateX(50%) translateY(-250%);
    background-color: #f9931f;
    z-index: 10;
    @media (max-width: $md2) {
        width: 142px;
        height: 36px;
    }
    span {
        font-size: 16px;
        line-height: 24/16 * 100%;
        font-weight: 500;
        text-transform: uppercase;
        @media (max-width: $md2) {
            font-size: 14px;
            line-height: 17/14 * 100%;
        }
    }
}

// form-hero
.form-hero {
    max-width: 684px;
    margin: 0 auto;
    padding: 106px 140px;
    border: 2px solid black;
    border-radius: 5px;
    display: none;
    transition: ease 0.4s;

    & * {
        outline: none;
    }

    &__title {
        font-size: 40px;
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__label {
        font-size: 16px;
        line-height: 22/16 * 100%;
        display: block;
        margin-bottom: 5px;
    }

    &__input {
        height: 56px;
        padding: 0 20px;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
        font-size: 28px;
        line-height: 36/28 * 100%;
        &:focus {
            box-shadow: 0 0 10px $btnBgColour;
        }
        &._error {
            box-shadow: 0 0 15px $error;
        }
    }

    &__check {
        margin-bottom: 40px;
    }

    &__button {
        width: 154px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $btnBgColour;
        color: $btnColour;
        min-height: 50px;
        border-radius: 10px;
        font-size: 21px;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.2s ease;
        margin-bottom: 36px;
        &:active {
            transform: scale(1.02);
        }
    }

    &__notice {
        font-size: 16px;
        line-height: 24/16 * 100%;
        font-weight: 300;
    }
}
textarea.form-hero__input {
    min-height: 56px;
    resize: vertical;
    padding: 5px 20px;
}
.options {
    padding-top: 10px;
    &__item {
        margin-bottom: 10px;
    }

    &__input {
        display: none;
        &:checked + .options__label::after {
            transform: scale(1);
        }
    }

    &__label {
        display: inline-flex;
        align-items: center;
        font-size: 16px;
        line-height: 120%;
        width: 50%;
        position: relative;
        &::before {
            content: '';
            flex: 0 0 24px;
            align-self: flex-start;
            height: 24px;
            background-color: $bgColour;
            border: 1px solid black;
            border-radius: 50%;
            margin-right: 10px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            width: 16px;
            height: 16px;
            background-color: $btnBgColour;
            border-radius: 50%;
            transform: scale(0);
            transition: transform 0.2s ease;
        }
    }
}

.checkbox {
    &__input {
        display: none;
        &:checked + .checkbox__label::after {
            transform: scale(1);
        }
    }

    &._error .checkbox__label::before {
        box-shadow: 0 0 15px $error;
    }

    &__label {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        line-height: 120%;
        cursor: pointer;
        &::before {
            content: '';
            flex: 0 0 24px;
            align-self: flex-start;
            height: 24px;
            border: 1px solid black;
            border-radius: 4px;
            margin-right: 10px;
        }
        &::after {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 4px;
            background-color: $btnBgColour;
            transform: scale(0);
            transition: transform 0.2s ease;
        }
    }
}
.form-hero.active {
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 15%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: ease 0.4s;
}
#form-hero-close-btn {
    width: 48px;
    height: 56px;
    background-color: #f9931f;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
