.news {
    margin-bottom: 136px;
    position: relative;
    @media (max-width: $md2) {
        margin-bottom: 100px;
    }
    @media (max-width: $md4) {
        margin-bottom: 94px;
    }
    @media (max-width: $md5) {
        margin-bottom: 74px;
    }

    &__container {
        @media (max-width: $md5) {
            padding: 0 53px;
        }
    }

    &__title {
        text-align: left;
        margin-bottom: 48px;
        font-size: 56px;
        line-height: 64/56 * 100%;
        font-weight: 500;
        text-transform: uppercase;
        @media (max-width: $md2) {
            margin-bottom: 35px;
            font-size: 42px;
            line-height: 48/42 * 100%;
        }
        @media (max-width: $md4) {
            font-size: 37px;
            line-height: 44/37 * 100%;
            margin-bottom: 32px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px;
        @media (max-width: $md2) {
            margin: 0 -17px;
        }
        @media (max-width: $md5) {
            display: none;
        }
    }

    &__column {
        display: flex;
        padding: 0 18px;
        flex: 0 1 33%;
        @media (max-width: $md2) {
            padding: 0 17px;
            flex: 1 1 33%;
        }
    }

    &__item {
        border-radius: 7px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    &__img {
        margin-bottom: 36px;
        @media (max-width: $md2) {
            margin-bottom: 28px;
        }
    }

    &__headline {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 100%;
        font-weight: 500;
        @media (max-width: $md2) {
            font-size: 24px;
        }
        @media (max-width: $md4) {
            font-size: 22px;
        }
    }

    &__label {
        color: #71bd44;
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 24/18 * 100%;
        font-weight: 500;
        @media (max-width: $md2) {
            font-size: 14px;
            line-height: 18/14 * 100%;
            margin-bottom: 14px;
        }
    }

    &__text {
        font-size: 22px;
        line-height: 30/22 * 100%;
        font-weight: 300;
        flex: 1 1 auto;
        @media (max-width: $md2) {
            font-size: 18px;
            line-height: 24/18 * 100%;
        }
        @media (max-width: $md4) {
            font-size: 17px;
            line-height: 24/17 * 100%;
        }
    }
}

.news-swiper {
    display: none;
    @media (max-width: $md5) {
        display: flex;
    }
}
.news-btn-prev,
.news-btn-next {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    background-color: greenyellow;
}
.news-btn-prev {
    right: 110px;
}
.news-btn-next {
    right: 53px;
}
