.partners {
    margin-bottom: 109px;
    @media (max-width: $md2) {
        margin-bottom: 80px;
    }
    @media (max-width: $md5) {
        margin-bottom: 66px;
    }
    &__container {
        max-width: 100vw;
    }

    &__line {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.line-partner {
    &__img {
        height: 186px;
        @media (max-width: $md2) {
            height: 140px;
        }
        @media (max-width: $md5) {
            height: 85px;
        }
    }
    &__img:hover {
        transition: ease-in-out 0.4s;
        transform: scale(0.8);
    }
}
.swiper-wrapper-partners {
    height: 0px;
    // @media (max-width: $md4) {
    //     height: 140px;
    // }
    // @media (max-width: $md5) {
    //     height: 120px;
    // }
}
