.specialist {
    margin-bottom: 136px;
    position: relative;
    @media (max-width: $md2) {
        margin-bottom: 100px;
    }
    @media (max-width: $md4) {
        margin-bottom: 80px;
    }
    &__headline {
        position: absolute;
        top: 60px;
        left: -60px;
        overflow-y: scroll;
        overflow-x: hidden;
        transform: rotate(-90deg);
        padding: 36px 0;
        @media (max-width: $md2) {
            padding: 16px 0;
        }
        @media (max-width: $md4) {
            padding: 9px 0;
            top: 55px;
            left: -54px;
        }
        span {
            text-transform: uppercase;
            font-size: 40px;
            line-height: 120%;
            font-weight: 300;
            @media (max-width: $md2) {
                font-size: 30px;
                line-height: 36/30 * 100%;
            }
            @media (max-width: $md4) {
                font-size: 26px;
                line-height: 32/26 * 100%;
            }
        }
    }

    &__container {
        max-width: calc(100% - 124px);
        margin-left: 124px;
        padding: 0;
        @media (max-width: $md2) {
            margin-left: 68px;
            max-width: calc(100% - 68px);
        }
        @media (max-width: $md4) {
            margin-left: 51px;
            max-width: calc(100% - 51px);
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 368px);
        gap: 3px;
        @media (max-width: $md2) {
            grid-template-rows: repeat(2, 275px);
        }
        @media (max-width: $md5) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
    }
}
.cards-special {
    &__item {
        padding: 70px 80px;
        transition: ease-in-out 0.4s;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: $md2) {
            padding: 52px 61px;
        }
        @media (max-width: $md4) {
            padding: 44px 47px;
        }
    }
}
.item-special {
    &_big {
        grid-row: span 2;
        @media (max-width: $md2) {
            padding: 40px 51px;
        }
        @media (max-width: $md5) {
            grid-row: auto;
            padding: 37px 50px;
        }
    }

    &_one {
        background-color: #96e9f9;
    }

    &_two {
        background-color: #a3e07e;
    }

    &_three {
        background-color: #fded84;
    }

    &__img {
        margin-bottom: 72px;
        @media (max-width: $md2) {
            margin-bottom: 40px;
        }
        @media (max-width: $md4) {
            margin-bottom: 55px;
        }
        @media (max-width: $md5) {
            display: none;
        }
    }

    &__content {
        margin-bottom: 32px;
        flex: 1 1 auto;
        @media (max-width: $md2) {
            margin-bottom: 24px;
        }
        span {
            font-size: 18px;
            line-height: 24/18 * 100%;
            font-weight: 500;
            color: #565656;
            @media (max-width: $md2) {
                font-size: 14px;
                line-height: 18/14 * 100%;
            }
        }
        p {
            margin-top: 16px;
            font-size: 32px;
            line-height: 100%;
            min-height: 40px;
            max-height: 130px;
            overflow: auto;
            @media (max-width: $md2) {
                margin-top: 11px;
                font-size: 24px;
            }
            @media (max-width: $md4) {
                font-size: 22px;
            }
        }
    }

    &__btn {
        background-color: transparent;
        width: 164px;
        height: 60px;
        border: 1px solid #333333;
        border-radius: 3px;
        @media (max-width: $md2) {
            width: 136px;
            height: 46px;
        }
        span {
            text-transform: uppercase;
            font-size: 16px;
            line-height: 24/16 * 100%;
            font-weight: 500;
            color: #333333;
            @media (max-width: $md2) {
                font-size: 14px;
                line-height: 18/14 * 100%;
            }
        }
    }
}

.item-special_one:hover {
    background-color: #50daf5;
    .item-special__btn {
        background-color: #333333;
        span {
            color: #fff;
        }
    }
}
.item-special_two:hover {
    background-color: #71bd44;
    .item-special__btn {
        background-color: #333333;
        span {
            color: #fff;
        }
    }
}
.item-special_three:hover {
    background-color: #ffdd00;
    .item-special__btn {
        background-color: #333333;
        span {
            color: #fff;
        }
    }
}
