<section class="about">
    <div class="about__container container">
        <h1 class="about__headline headline">О компании</h1>
        <div class="about__content content-about">
            <div class="content-about__adv adv-about">
                <div class="adv-about__item item-adv">
                    <div class="item-adv__img">
                        <img src="img/about/01.svg" alt="01" />
                    </div>
                    <div class="item-adv__title">Натуральные ингредиенты</div>
                </div>
                <div class="adv-about__item item-adv">
                    <div class="item-adv__img">
                        <img src="img/about/02.svg" alt="02" />
                    </div>
                    <div class="item-adv__title">Европейское производство</div>
                </div>
                <div class="adv-about__item item-adv">
                    <div class="item-adv__img">
                        <img src="img/about/03.svg" alt="03" />
                    </div>
                    <div class="item-adv__title">Состав, подобранный под возрастную группу</div>
                </div>
                <div class="adv-about__item item-adv">
                    <div class="item-adv__img">
                        <img src="img/about/04.svg" alt="04" />
                    </div>
                    <div class="item-adv__title">Уникальный состав каждого продукта</div>
                </div>
            </div>
            <div class="content-about__descript descript-about">
                <p class="descript-about_text1">
                    Наша продукция разработана с учетом изменения потребностей ребенка от момента
                    зачатия до подросткового возраста, и является лучшим решением всех проблем,
                    с которыми родители и педиатры сталкиваются каждый день. Постоянный поиск
                    инновационных формул, технологий использования современных производственных
                    процессов, информаций и научных исследований позволяют нам создавать
                    качественные продукты, ориентированные на потребности детей.
                </p>
                <p class="descript-about_text2">
                    Продукция производится на крупнейших заводах Европы. Технология и условия
                    производства соответствуют высшим международным стандартам качества
                    в фармацевтической промышленности — GMP (Good Manufacturing Practices).
                </p>
                <p class="descript-about_text2">
                    Продукция создана на основе натуральных биологически-активных веществ:
                    лактобактерий, витаминов, минералов и экстрактов целебных растений, подобранных
                    в оптимальных дозировках и сочетаниях, прошла лабораторные исследования
                    на территории РФ и рекомендована к применению ФГБНУ НИИ питания РАМН РФ.
                </p>
                <a href="#!" class="descript-about__btn btn">
                    <span>Подробнее</span>
                </a>
            </div>
        </div>
    </div>
</section>
