<section class="catalogue">
    <h1 class="catalogue__headline headline">
        <span> каталог продукции </span>
    </h1>
    <div class="catalogue__container container">
        <div class="catalogue__cards cards-catalogue">
            <article class="cards-catalogue__item item-catalogue item-catalogue_card1">
                <div class="item-catalogue__descript descript-catalogue">
                    <div class="descript-catalogue__img">
                        <img src="img/card/label01.png" alt="label" />
                    </div>
                    <h2 class="descript-catalogue__title title">Пробиотики</h2>
                    <p class="descript-catalogue__text text">
                        Продукты, содержащие как пробиотики, так и пребиотики, оказывающие
                        положительное влияние на состояние здоровья
                    </p>
                </div>
                <div class="item-catalogue__img">
                    <img src="img/card/box.png" alt="box" />
                </div>
                <div class="item-catalogue__link">
                    <a href="#!" class="item-catalogue__btn btn">
                        <span>посмотреть</span>
                    </a>
                </div>
            </article>
            <article class="cards-catalogue__item item-catalogue item-catalogue_card2">
                <div class="item-catalogue__descript descript-catalogue">
                    <div class="descript-catalogue__img">
                        <img src="img/card/label02.png" alt="label" />
                    </div>
                    <h2 class="descript-catalogue__title title">Минеральные соли</h2>
                    <p class="descript-catalogue__text text">
                        Входя в состав всех клеток, тканей и органов человеческого тела, играют
                        важную роль в жизнедеятельности организма.
                    </p>
                </div>
                <div class="item-catalogue__img">
                    <img src="img/card/box.png" alt="box" />
                </div>
                <div class="item-catalogue__link">
                    <a href="#!" class="item-catalogue__btn btn">
                        <span>посмотреть</span>
                    </a>
                </div>
            </article>
            <article class="cards-catalogue__item item-catalogue item-catalogue_card3">
                <div class="item-catalogue__descript descript-catalogue">
                    <div class="descript-catalogue__img">
                        <img src="img/card/label03.png" alt="label" />
                    </div>
                    <h2 class="descript-catalogue__title title">Витаминные комплексы</h2>
                    <p class="descript-catalogue__text text">
                        Избежать гиповитаминоза можно с помощью приема витаминных комплексов.
                    </p>
                </div>
                <div class="item-catalogue__img">
                    <img src="img/card/box.png" alt="box" />
                </div>
                <div class="item-catalogue__link">
                    <a href="#!" class="item-catalogue__btn btn">
                        <span>посмотреть</span>
                    </a>
                </div>
            </article>
            <article class="cards-catalogue__item item-catalogue item-catalogue_card4">
                <div class="item-catalogue__descript descript-catalogue">
                    <div class="descript-catalogue__img">
                        <img src="img/card/label04.png" alt="label" />
                    </div>
                    <h2 class="descript-catalogue__title title">Морская вода</h2>
                    <p class="descript-catalogue__text text">
                        Содержит такие полезные минералы, как магний, натрий, кальций, хлорид и
                        сульфат, которые оказывают благотворное влияние на кожу.
                    </p>
                </div>
                <div class="item-catalogue__img">
                    <img src="img/card/box.png" alt="box" />
                </div>
                <div class="item-catalogue__link">
                    <a href="#!" class="item-catalogue__btn btn">
                        <span>посмотреть</span>
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>
