<footer class="footer">
    <div class="footer__container container">
        <div class="footer__subscribe">
            <p class="footer__offer">
                Подпишитесь на рассылку новостей Herbs, чтобы получать эксклюзивный контент,
                предложения и скидки!
            </p>
            <form class="footer__form">
                <input type="email" placeholder="Email..." />
                <input type="submit" value="Подписаться" />
            </form>
            <div class="footer__social"></div>
        </div>
        <div class="footer__links links-footer">
            <ul class="links-footer__one">
                <li>
                    <a href="#!" class="links-footer__link">Это интересно</a>
                </li>
                <li>
                    <a href="#!" class="links-footer__link">Новости</a>
                </li>
                <li>
                    <a href="#!" class="links-footer__link">Вопрос-ответ </a>
                </li>
                <li>
                    <a href="#!" class="links-footer__link">Карта сайта</a>
                </li>
            </ul>
            <ul class="links-footer__two">
                <li>
                    <a href="#!" class="links-footer__link">Специалистам</a>
                </li>
                <li>
                    <a href="#!" class="links-footer__link">Где купить</a>
                </li>
                <li>
                    <a href="#!" class="links-footer__link">Контакты</a>
                </li>
                <li>
                    <a href="#!" class="links-footer__link">Конфиденциальность</a>
                </li>
            </ul>
            <ul class="links-footer__three">
                <li>
                    <span href="#!" class="links-footer__link links-footer__link_title">
                        Каталог
                    </span>
                </li>
                <li>
                    <a href="#!" class="links-footer__link"> Пробиотики </a>
                </li>
                <li>
                    <a href="#!" class="links-footer__link"> Минеральные соли </a>
                </li>
                <li>
                    <a href="#!" class="links-footer__link"> Витаминные комплексы </a>
                </li>
                <li>
                    <a href="#!" class="links-footer__link"> Морская вода </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__rights rights-footer">
        <div class="rights-footer__container container">
            <span class="rights-footer__copyright">© 2008-2021 herbs</span>
            <span class="rights-footer__address">
                105000, Российская Федерация, г. Москва, ул. Бауманская 2-ая, д.7, стр. 1
            </span>
            <span class="rights-footer__develop">Разработка сайта - InterLabs</span>
        </div>
    </div>
</footer>
