<header class="header">
    <div class="header__container container">
        <a href="#!" class="header__logo logo">
            <img src="img/logo/logo.png" alt="logo" />
        </a>
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#!" class="nav__link"> Каталог </a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link"> Это интересно </a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link"> Новости </a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link"> Вопрос-ответ </a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link"> Специалистам </a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link"> Где купить </a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link"> Контакты </a>
                </li>
            </ul>
        </nav>
        <ul class="header__aux aux">
            <li class="aux__item">
                <a href="#!" class="aux__link-phone"> 8 (495) 969-21-84 </a>
                <a href="#!" class="aux__link-icon icon-phone"> 0 </a>
            </li>
            <li class="aux__item">
                <div class="search-aux__btn" id="search-field">
                    <span class="icon-search"></span>
                    <!-- <img src="img/icons/search.png" alt="search" /> -->
                </div>
            </li>
        </ul>
    </div>
    <form action="#" class="index-form" id="index-form">
        <label for="search-input" class="index-form__label">Поиск по сайту:</label>
        <input
            type="text"
            name="search-input"
            class="index-form__input"
            id="search-input"
            placeholder="например, пробиотики"
        />
        <button type="button" class="index-form__btn btn">найти</button>
        <div class="close-btn btn" id="close-form-btn"></div>
    </form>
    @@include('../template/_burger.html')
</header>
