<section class="hero">
    <div class="hero__container container">
        <div class="swiper-container hero-swiper">
            <div class="parallax-bg" data-swiper-parallax="-15%"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero__content content-hero">
                        <div class="content-hero__descript">
                            <h2 class="context-hero__title">Укрепляем иммунитет вместе</h2>
                            <p class="context-hero__text">
                                Новая формула содержит комплекс пробиотиков, обогащенный цинком и
                                лактоферрином
                            </p>
                            <a href="#!" class="context-hero__btn btn">
                                <span>узнать больше</span>
                            </a>
                        </div>
                        <div class="content-hero__img">
                            <img src="img/hero/01.png" alt="baby" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero__content content-hero">
                        <div class="content-hero__descript">
                            <h2 class="context-hero__title">Укрепляем иммунитет вместе</h2>
                            <p class="context-hero__text">
                                Новая формула содержит комплекс пробиотиков, обогащенный цинком и
                                лактоферрином
                            </p>
                            <a href="#!" class="context-hero__btn btn">
                                <span>узнать больше</span>
                            </a>
                        </div>
                        <div class="content-hero__img">
                            <img src="img/hero/01.png" alt="baby" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero__content content-hero">
                        <div class="content-hero__descript">
                            <h2 class="context-hero__title">Укрепляем иммунитет вместе</h2>
                            <p class="context-hero__text">
                                Новая формула содержит комплекс пробиотиков, обогащенный цинком и
                                лактоферрином
                            </p>
                            <a href="#!" class="context-hero__btn btn">
                                <span>узнать больше</span>
                            </a>
                        </div>
                        <div class="content-hero__img">
                            <img src="img/hero/01.png" alt="baby" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination hero-swiper__bullets">
                <span>01</span>
                <span>02</span>
                <span>03</span>
            </div>
        </div>
    </div>
</section>
