<div class="news">
    <div class="news__container container">
        <h2 class="news__title title">Новости</h2>
        <div class="news__row">
            <div class="news__column">
                <div class="news__item">
                    <div class="news__img">
                        <img src="img/news/01.jpg" alt="01" />
                    </div>
                    <span class="news__label">09.06.2021</span>
                    <h3 class="news__headline">Современные пробиотики: виды и польза</h3>
                    <p class="news__text">
                        Современные аптечные сети предлагают огромный выбор препаратов для
                        профилактики дисбактериоза. Какие комплексы лучше и в чем их польза?
                    </p>
                </div>
            </div>
            <div class="news__column">
                <div class="news__item">
                    <div class="news__img">
                        <img src="img/news/02.jpg" alt="02" />
                    </div>
                    <span class="news__label">08.06.2021</span>
                    <h3 class="news__headline">Как узнать, что микрофлора кишечника нарушена?</h3>
                    <p class="news__text">
                        Боли в животе, запоры и вздутие — те проблемы, о которых не принято говорить
                        вслух. Однако эти симптомы могут говорить о начале дисбактериоза.
                    </p>
                </div>
            </div>
            <div class="news__column">
                <div class="news__item">
                    <div class="news__img">
                        <img src="img/news/03.jpg" alt="03" />
                    </div>
                    <span class="news__label">03.06.2021</span>
                    <h3 class="news__headline">
                        Дисбактериоз после родов: причины и решение проблемы
                    </h3>
                    <p class="news__text">
                        После родов многие женщины сталкиваются с нарушением баланса кишечной
                        микрофлоры. Как решить эту проблему?
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-container news-swiper">
            <div class="swiper-wrapper swiper-wrapper-news">
                <div class="swiper-slide">
                    <div class="news__column">
                        <div class="news__item">
                            <div class="news__img">
                                <img src="img/news/01.jpg" alt="01" />
                            </div>
                            <span class="news__label">09.06.2021</span>
                            <h3 class="news__headline">Современные пробиотики: виды и польза</h3>
                            <p class="news__text">
                                Современные аптечные сети предлагают огромный выбор препаратов для
                                профилактики дисбактериоза. Какие комплексы лучше и в чем их польза?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news__column">
                        <div class="news__item">
                            <div class="news__img">
                                <img src="img/news/02.jpg" alt="02" />
                            </div>
                            <span class="news__label">08.06.2021</span>
                            <h3 class="news__headline">
                                Как узнать, что микрофлора кишечника нарушена?
                            </h3>
                            <p class="news__text">
                                Боли в животе, запоры и вздутие — те проблемы, о которых не принято
                                говорить вслух. Однако эти симптомы могут говорить о начале
                                дисбактериоза.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news__column">
                        <div class="news__item">
                            <div class="news__img">
                                <img src="img/news/03.jpg" alt="03" />
                            </div>
                            <span class="news__label">03.06.2021</span>
                            <h3 class="news__headline">
                                Дисбактериоз после родов: причины и решение проблемы
                            </h3>
                            <p class="news__text">
                                После родов многие женщины сталкиваются с нарушением баланса
                                кишечной микрофлоры. Как решить эту проблему?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev news-btn-prev"></div>
        <div class="swiper-button-next news-btn-next"></div>
    </div>
</div>
