<section class="partners">
    <div class="partners__container container line-swiper">
        <div class="partners__line line-partner swiper-wrapper swiper-wrapper-partners">
            <div class="line-partner__img swiper-slide">
                <img src="img/partners/01.png" alt="01" />
            </div>
            <div class="line-partner__img swiper-slide">
                <img src="img/partners/02.png" alt="02" />
            </div>
            <div class="line-partner__img swiper-slide">
                <img src="img/partners/03.png" alt="03" />
            </div>
            <div class="line-partner__img swiper-slide">
                <img src="img/partners/04.png" alt="04" />
            </div>
            <div class="line-partner__img swiper-slide">
                <img src="img/partners/05.png" alt="05" />
            </div>
            <div class="line-partner__img swiper-slide">
                <img src="img/partners/06.png" alt="06" />
            </div>
        </div>
    </div>
</section>
