<section class="specialist">
    <h1 class="specialist__headline headline">
        <span> специалистам </span>
    </h1>
    <div class="specialist__container container">
        <div class="specialist__cards cards-special">
            <article class="cards-special__item item-special item-special_big item-special_one">
                <div class="item-special__img">
                    <img src="img/special/01.jpg" alt="01" />
                </div>
                <div class="item-special__content">
                    <span> 08.06.2021 </span>
                    <p>
                        Новые представления о функциональных расстройствах кишечника и место
                        современных пробиотиков в их лечении.
                    </p>
                </div>
                <a href="#!" class="item-special__btn btn">
                    <span>посмотреть</span>
                </a>
            </article>
            <article class="cards-special__item item-special item-special_two">
                <div class="item-special__content">
                    <span> 04.06.2021 </span>
                    <p>
                        Штаммоспецифичность пробиотиков. XVIII Съезд педиатров России с
                        международным участием «Актуальные проблемы педиатрии».
                    </p>
                </div>
                <a href="#!" class="item-special__btn btn">
                    <span>посмотреть</span>
                </a>
            </article>
            <article class="cards-special__item item-special item-special_three">
                <div class="item-special__content">
                    <span> 08.06.2021 </span>
                    <p>
                        Международный форум «Микробиотические нарушения как междисциплинарная
                        проблема глобального уровня».
                    </p>
                </div>
                <a href="#!" class="item-special__btn btn">
                    <span>посмотреть</span>
                </a>
            </article>
        </div>
    </div>
</section>
